/* ! common css */

:root {
  --colorBlack: #000000;
  --colorOrang: #e95a08;
  --colorGray: rgba(0, 0, 0, 0.5);
  --colorDark: #111111;
  --colorWhite: #ffffff;
  --fontNoto: "Noto Serif", serif;
  --fontInter: "Inter", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.flex {
  display: flex;
}

.btn_primary {
  padding: 20px 80px;
  background: var(--colorOrang);
  color: var(--colorWhite);
  font-size: 1rem;
  font-family: var(--fontInter);
  font-weight: 600;
  border: none;
  cursor: pointer;
}

/* *start nav style */

nav {
  justify-content: space-between;
  margin-top: 30px;
  align-items: center;
}

nav ul {
  gap: 50px;
}
nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: var(--colorGray);
  font-family: var(--fontInter);
  padding: 10px;
}

nav ul li:hover a {
  color: var(--colorDark);
  font-weight: bold;
}
nav ul #cart a {
  color: var(--colorDark);
}

/* *start banner style */
.banner {
  margin: 150px 0;
  justify-content: space-between;
  align-items: end;
}

.banner .banner_content {
  max-width: 50%;
}
.banner .banner_content h1 {
  font-size: 4rem;
  font-family: var(--fontNoto);
  font-weight: bold;
  color: var(--colorBlack);
  margin-bottom: 13px;
}
.banner .banner_content h1 span {
  color: var(--colorOrang);
}
.banner .banner_content p {
  font-family: var(--fontInter);
  font-size: 1.35rem;
  color: var(--colorGray);
}

.banner .banner_img img {
  width: 100%;
}

/* * start card area */

.plants_section .card_title h2 {
  font-family: var(--fontNoto);
  font-size: 3.125rem;
  font-weight: bold;
  color: var(--colorBlack);
}
.plants_section .card_title h2 span {
  color: var(--colorOrang);
}
.plants_section .card_title p {
  font-family: var(--fontInter);
  font-size: 1.3rem;
  color: var(--colorGray);
  padding: 16px 126px;
}
.plants_section .card_parent {
  margin-top: 30px;
  margin-bottom: 90px;
  display: grid;
  font-family: var(--fontInter);
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;
  column-gap: 20px;
}
.plants_section .card_parent .card img {
  max-width: 100%;
}
.plants_section .card_parent .card h3 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 30px;
}
.plants_section .card_parent .card h4 {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 30px;
}

/* * start plants_lover_section style */
.plants_lover_section {
  gap: 70px;
  margin: 220px 0;
}

.plants_lover_section .plants_img {
  position: relative;
}
.plants_lover_section .plants_img #badg {
  position: absolute;
  width: 280px;
  height: 280px;
  top: -116px;
  right: -90px;
}
.plants_lover_section .plants_img #main_img {
  width: 100%;
}
.plants_lover_section .plants_content {
  margin: auto 0;
  flex: 1;
}
.plants_lover_section .plants_content h2 {
  font-family: var(--fontNoto);
  font-size: 3.125rem;
  font-weight: bold;
  max-width: 75%;

  color: var(--colorBlack);
}
.plants_lover_section .plants_content ul li {
  font-family: var(--fontInter);
  font-size: 1.375rem;
  color: var(--colorGray);
  margin-top: 30px;
  margin-left: 40px;
}

/* *start latest_deal_section style */
.latest_deal_section {
  margin: 120px 0;
  /* display: none; */
}
.latest_deal_section .latest_deal_content {
  margin-bottom: 120px;
}
.latest_deal_section .latest_deal_content h2 {
  font-family: var(--fontNoto);
  font-size: 3.125rem;
  font-weight: bold;
  margin-bottom: 16px;
  color: var(--colorBlack);
  text-align: center;
}
.latest_deal_section .latest_deal_content h2 span {
  color: var(--colorOrang);
}
.latest_deal_section .latest_deal_content p {
  color: var(--colorGray);
  font-size: 1.2rem;
  max-width: 888px;
  text-align: center;
  font-family: var(--fontInter);
  margin: 0 auto;
}
.latest_deal_section .latest_deal_img_parent {
  height: 400px;
  display: grid;
  grid-template-areas:
    "child_a child_b child_b"
    "child_c child_b child_b";
  gap: 28px;
  text-align: center;
}

.latest_deal_section .child_a {
  background: url(../assets/deal-ana.png);
  grid-area: child_a;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.latest_deal_section .child_b {
  background: url(../assets/deal-zabo.png);
  grid-area: child_b;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
}
.latest_deal_section .child_c {
  background: url(../assets/deal-bloom.png);
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: child_c;
  border-radius: 10px;
}

.latest_deal_section .latest_deal_img_parent .bg_color {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.237);
  /* opacity: 10%; */
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.latest_deal_section .latest_deal_img_parent .bg_color h2 {
  font-family: var(--fontNoto);
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--colorWhite);
}
.latest_deal_section .latest_deal_img_parent .bg_color a {
  color: var(--colorWhite);
  font-weight: 500;
  font-family: var(--fontInter);
}

.latest_deal_section .latest_deal_img_parent .child_b h2 {
  font-size: 2.5rem;
}
.latest_deal_section .latest_deal_img_parent .child_b a {
  font-size: 1.75rem;
}

/* !start form design */
.join_section {
  background-image: url(../assets/news-letter-bg.png);
  /* height: 550px; */
  background-repeat: no-repeat;
  background-size: cover;
}

.join_section .join_section_child {
  height: 550px;
  /* background-color: rgba(0, 0, 0, 0.144); */
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.join_section .join_section_child h2 {
  font-family: var(--fontNoto);
  font-size: 3.125rem;
  font-weight: bold;
  color: var(--colorWhite);
  margin-bottom: 30px;
}

.join_section .join_section_child form #text_area {
  width: 600px;
  padding: 20px;
  /* background: transparent; */
  border: none;
  margin: 0;
}

.join_section .join_section_child form #text_area:focus {
  border: none;
  outline: none;
}
.join_section .join_section_child form #btn {
  padding: 20px 50px;
  /* background: transparent; */
  border: none;
  background: var(--colorOrang);
  margin-left: -4px;
  color: var(--colorWhite);
  font-weight: 600;
}

/* ! start footer design */
.footer {
  justify-content: space-between;
  margin: 50px auto;
  font-family: var(--fontInter);
  /* gap: 110px */
}
.footer .logo {
  width: 25%;
}
.footer p {
  font-size: 1.3rem;
  margin-top: 16px;
  color: var(--colorGray);
}
.footer ul li {
  list-style: none;
  margin-bottom: 25px;
}
.footer ul li a {
  text-decoration: none;
  color: var(--colorGray);
}
.footer .icon {
  display: flex;
  gap: 24px;
  align-content: flex-start;
  justify-items: center;
  max-height: 37px;
}
.footer .icon img {
  width: 100%;
  /* margin: auto 12px; */
}

/* ! mobile responsive design */
@media screen and (max-width: 576px) {
  nav {
    margin: 0 16px;
    margin-top: 60px;
    align-items: center;
  }
  nav ul li {
    display: none;
  }
  nav ul #cart {
    display: block;
  }

  .banner {
    flex-direction: column-reverse;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .banner .banner_content {
    max-width: 100%;
    padding: 30px;
  }
  .banner .banner_content h1 {
    font-size: 2.5rem;
  }

  /* ! star card */

  .plants_section .card_title p {
    padding: 20px;
  }
  .plants_section .card_parent {
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    margin-bottom: 40px;
  }
  .plants_section .card_parent .card button {
    padding: 20px 30.5px;
    /* padding: auto; */
    font-size: 0.8rem;
  }
  .plants_section .card_parent .card h4 {
    margin: 10px;
  }

  .plants_lover_section {
    flex-direction: column;
    margin: 20px;
    gap: 18px;
  }

  .plants_lover_section .plants_img #badg {
    display: none;
  }
  .plants_lover_section .plants_content h2 {
    font-size: 1.4rem;
    padding: 0;
    margin: 0;
    display: inline;
  }
  .plants_lover_section .plants_content ul li {
    font-size: 14px;
    margin-left: 25px;
  }

  .latest_deal_section .latest_deal_content {
    margin-bottom: 0;
  }

  .latest_deal_section .latest_deal_img_parent {
    height: 580px;
    display: grid;
    grid-template-areas:
      "child_a"
      "child_b"
      "child_c";
    grid-template-columns: 1fr;
    gap: 28px;
    text-align: center;
    padding: 0 20px;
    margin-top: 50px;
  }

  .latest_deal_section .latest_deal_img_parent .child_b h2 {
    font-size: 1.2rem;
  }
  .latest_deal_section .latest_deal_img_parent .child_b a {
    font-size: 1rem;
  }

  /* !start form design */

  .join_section {
    /* height: 400px; */
    background-size: cover;
  }

  .join_section .join_section_child {
    height: 276px;
    margin: 0;
  }
  .join_section .join_section_child h2 {
    font-size: 1.4rem;
  }
  /* .join_section .join_section_child form  {
  display: inline;
} */
  .join_section .join_section_child form #text_area {
    max-width: 17rem;
    padding: 0.8rem;
    /* background: transparent; */
    border: none;
    margin: 0;
  }
  .join_section .join_section_child form #btn {
    padding: 0.8rem;
  }
  .footer {
    flex-direction: column;
    margin: 50px 20px;
  }
  .footer .logo {
    width: 100%;
  }
  .footer .icon {
    max-height: 34px;
    max-width: 216px;
  }
}
